
.catalogContainer {
  height: calc(100% - 12px);
  margin: 12px 12px 0 12px;
}

body[dir=rtl] .catalogContainer .ReactVirtualized__Grid__innerScrollContainer{
  margin-right: -12px;
}

.catalogContainer .rst__virtualScrollOverride {
  overflow-x: hidden !important;
}

.actionIcon {
  position: relative;
  right: 30px;
}

body[dir=rtl] .actionIcon {
  right: unset;
  left: 30px;
}