.actionsMenuItem {
    display: flex;
    width: 100%;
    align-items: center;
}

.actionsMenuItem.mdc-button:disabled {
    background-color: transparent;
}

.actionsMenuItemLoading { 
    position: absolute;
    right: 10px;
}

body[dir='rtl'] .actionsMenuItemLoading {
    right: unset;
    left: 10px;
}

.contextMenuFooter {
    background-color: var(--mdc-theme-gc-selection-background);
}

.contextMenuFooter .heightContainer {
    display: flex;
    gap: 10px;
    padding: 0px 20px;  
    align-items: center;
    height: 2rem;
}

.coordinatesContainer {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.contextMenuFooter .activeLayersMessageContainer {
    text-align: left;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

body[dir='rtl'] .contextMenuFooter .coordinatesContainer {
    text-align: right;
}

.featureIcon {
    margin-right: 10px;
}

.featureIcon,
.menuIcon {
    font-size: 20px;
    padding: 0;
    pointer-events: none;
}

body[dir='rtl'] .featureIcon {
    margin-right: unset;
    margin-left: 10px;
}

.actionsContextMenuItemLabel {
    overflow: 'hidden';
    text-overflow: 'ellipsis';
}