.actionsMenuItem {
    display: flex;
    width: 100%;
    align-items: center;
}

.actionsMenuItem.mdc-button:disabled {
    background-color: transparent;
}

.actionsMenuItemLoading { 
    position: absolute;
    right: 10px;
}

body[dir='rtl'] .actionsMenuItemLoading {
    right: unset;
    left: 10px;
}

.coordinatesContainer {
    text-align: left;
    background-color: var(--mdc-theme-gc-selection-background);
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
}

body[dir='rtl'] .coordinatesContainer {
    text-align: right;
}

.featureIcon {
    margin-right: 10px;
}

body[dir='rtl'] .featureIcon {
    margin-right: unset;
    margin-left: 10px;
}