.imageryContextMenuTheme {
  --order-width: 60px;
  --scrollbar-width: 16px;
}

.imageryContextMenu {
  background: var(--mdc-theme-surface);
  position: absolute;
  border-radius: 4px;
  width: var(--mdc-theme-gc-context-menu-width);
}

.imageryContextMenuTitle {
  color: var(--mdc-theme-primary);
  font-weight: bold;
  display: inline-block;
  max-width: calc(var(--mdc-theme-gc-context-menu-width) - 52px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  direction: ltr;
  padding: 10px;
}

.imageryContextMenuTitleInfo {
  color: var(--mdc-theme-primary);
  cursor: help;
}

.imageryMenu {
  width: 100%;
  box-shadow: none;
  position: unset;
  max-height: 350px !important;
  overflow-y: auto;
}

.imageryMenuIcon {
  vertical-align: sub;
  margin-right: 8px;
}

body[dir='rtl'] .imageryMenuIcon {
  margin-right: unset;
  margin-left: 8px;
}

.imageryContextMenuSubTitle {
  font-weight: bold;
  margin-top: 12px;
  padding: 10px;
}

.imageryContextMenuSubTitleIcon {
  vertical-align: middle;
  color: var(--mdc-theme-primary);
  cursor: pointer;
}

.imageryContextMenuTableContainer {
  max-height: 100px;
  overflow: auto;
  padding-bottom: 10px;
}

.imageryContextMenuTable {
  height: 100%;
}

.imageryContextMenuTableOrder {
  width: var(--order-width);
  text-align: center;
}

.imageryContextMenuTableField {
  max-width: calc(var(--mdc-theme-gc-context-menu-width) - var(--order-width) - var(--scrollbar-width) - 24px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  direction: ltr;
}

.imageryContextMenuTableSelectedRow {
  color: var(--mdc-theme-primary);
  font-weight: bold;
}

.imageryContextMenuEmpty {
  background: var(--mdc-theme-surface);
  position: absolute;
  border-radius: 4px;
}

.menuSection{
  padding: 10px;
  width: 100%;
}

.sectionDivider {
  border-bottom-color: var(--mdc-theme-text-secondary-on-dark);
}

.titleContainer {
  display: flex;
  align-items: center;
}

.imageryMenuItemAction:hover {
  background: var(--mdc-theme-gc-alternative-surface);
}

.contextMenuLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}