@media (min-width: 800px) {
  #entityDialog .mdc-dialog .mdc-dialog__surface {
    max-width: 730px;
  }
}

#entityDialog .closeIcon {
  margin-left: auto;
}

body[dir='rtl'] #entityDialog .closeIcon {
  margin-left: unset;
  margin-right: auto;
}

#entityDialog .dialogBody {
  overflow-y: hidden !important;
}

#updateLayerHeader {
  position: relative;
  display: flex;
  background-color: var(--mdc-theme-text-primary-on-light);
  padding: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  flex: 1;
}

#updateLayerHeaderContent {
  margin: 0 auto;
  width: 100%;
}