.header {
  display: flex;
  height: 88px;
}

.ingestionFields {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.ingestionField {
  display: flex;
  padding: 2px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ingestionButton {
  display: flex;
  align-items: center;
}

.directorySpacer {
  display: flex;
  margin: 0 12px 0 0;
}

body[dir='rtl'] .directorySpacer {
  margin: 0 0 0 12px;
}

.fileNamesSpacer {
  display: flex;
  margin: 0 12px 0 24px;
}

body[dir='rtl'] .fileNamesSpacer {
  margin: 0 24px 0 12px;
}

.hiddenField {
  display: none;
}

.disabledText {
  color: var(--mdc-theme-text-hint-on-dark, #fff);
  opacity: 0.5;
}

.filesList {
  display: grid;
  grid-template-columns: 0.1fr 2fr 1fr;
  column-gap: 8px;
}

.fileIcon {
  font-size: 16px;
  cursor: default;
}

.fileIconSpacer {
  width: 28px;
}

.moreButton {
  color: var(--mdc-theme-primary);
  cursor: pointer;
}

.moreTooltip {
  text-align: left;
}

body[dir='rtl'] .moreTooltip {
  text-align: right;
}
