.ingestionFields {
  display: table;
  margin: 24px auto;
}

.directorySpacer {
  display: flex;
  margin: 0 4px 0 0;
}

body[dir='rtl'] .directorySpacer {
  margin: 0 0 0 4px;
}

.fileNamesSpacer {
  display: flex;
  margin: 0 4px 0 24px;
}

body[dir='rtl'] .fileNamesSpacer {
  margin: 0 24px 0 4px;
}