.categoryFieldsParentContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}

.categoryFieldsTitle {
  flex: 100%;
  color: var(--mdc-theme-text-icon-on-dark, #fff);
  font-size: 16px;
  font-weight: 600;
}

.categoryFieldsContainer {
  display: flex;
  flex-wrap: wrap;
  flex: 100%;
  gap: 10%;
  margin-bottom: 8px;
}

body[dir='rtl'] .categoryFieldsContainer {
  margin-left: unset;
  margin-right: 16px;
}

.categoryField {
  flex: 40%;
  padding: 2px 0;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.categoryFullWidthField {
  flex: 100%;
  padding: 2px 0;
  display: flex;
}

.detailsFieldLabel {
  color: var(--mdc-theme-text-icon-on-dark);
  flex: 0 0 112px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.detailsFieldValue {
  color: var(--mdc-theme-text-primary-on-dark);
  margin-left: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

body[dir='rtl'] .detailsFieldValue {
  margin-left: unset;
  margin-right: 12px;
}

.noSelection {
  padding-top: 20px;
  text-align: center;
}

.leftToRight {
  direction: ltr;
}

.textFieldInfoList {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

body[dir='rtl'] .textFieldInfoList {
  text-align: right;
}

.textFieldInfoIcon {
  color: var(--mdc-theme-primary);
  cursor: help;
  margin-left: 8px;
}

body[dir='rtl'] .textFieldInfoIcon {
  margin-left: unset;
  margin-right: 8px;
}
