.layers-result-custom-tooltip {
  position: absolute;
  border: 1px solid cornflowerblue;
  border-radius: 8px;
}

.layers-result-custom-tooltip.ag-tooltip-hiding {
  opacity: 0;
}

.layers-result-custom-tooltip p {
  margin: 5px;
  white-space: nowrap;
}

.layers-result-custom-tooltip span {
  font-weight: bold;
  padding: 0 4px;
}
