

#jobsDialog .mdc-dialog__surface {
  max-width: unset;
  right:12px;
  top:20px;
}

body[dir=rtl] #jobsDialog .mdc-dialog__surface {
  right: unset;
  left:12px;
}

#jobsDialog .mdc-dialog{
  justify-content: flex-end;
}

#jobsDialog .jobsBody{
  overflow-y: hidden !important;
  height: 750px;
  width: 1420px;
  padding: 8px 8px;
}

#jobsDialog .closeIcon {
  margin-left: auto;
}

.jobsBody .ag-body-viewport.ag-layout-normal.ag-row-no-animation {
  overflow-y: overlay !important;
}

body[dir=rtl] #jobsDialog .closeIcon {
  margin-left: unset;
  margin-right: auto;
}

#jobsDialog .refreshContainer{
  display: flex;
  align-items: center;
}

#jobsDialog .refreshContainer .refreshIcon{
  font-size: 24px;
}

#jobsDialog .refreshContainer .refreshSecs{
  position: relative;
  text-align: center;
  font-size: 8px;
  width: 10px;
  top: 1px;
  right: 23px;
}

body[dir=rtl] #jobsDialog .refreshContainer .refreshSecs {
  right: unset;
  left: 23px;
}

#jobsDialog .buttons{
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin: 20px;
  align-items: center;
}

/* Hide right header and spacer */
#jobsDialog .ag-pinned-right-header,
#jobsDialog .ag-horizontal-right-spacer {
  width: 0 !important;
  min-width: 0 !important;
}

/* Add absolute position so that action buttons column will appear on top of other columns. pointer-events: none to pass on mousemove event to behind columns */
#jobsDialog .ag-pinned-right-cols-container {
  position: absolute !important;
  right: 0px;
  pointer-events: none;
}
/* Reset pointer-events so that click can happen on action buttons */
#jobsDialog .ag-pinned-right-cols-container * {
  pointer-events: initial;
}

/* Hide border of right-cols-container */
.jobsBody  .ag-pinned-right-cols-container .ag-row-hover .ag-cell {
  border: none !important;
  overflow: visible;
}

.jobsBody .ag-pinned-right-cols-container .ag-cell {
  border: none !important;
  width: 20px!important;
  height: 30px!important;
  left: -40px !important;
 
}

body[dir=rtl] .jobsBody .ag-pinned-right-cols-container .ag-cell {
  left: unset;
  right: -40px !important;
}

/* Show action buttons only for row that is being hovered. For rows which are not being hovered, hide them by setting their width and padding to 0.*/
#jobsDialog .ag-pinned-right-cols-container .ag-row:not(.ag-row-hover),
#jobsDialog .ag-pinned-right-cols-container .ag-row:not(.ag-row-hover) .ag-cell {
  width: 0 !important;
  padding: 0 !important;
}

#jobsDialog .ag-pinned-right-cols-container .ag-row.ag-row-hover{
  background-color: rgb(44,65,89);
  border-width: 0px !important;
}

#jobsDialog .ag-pinned-right-cols-container .ag-row.ag-row-selected,
#jobsDialog .ag-pinned-right-cols-container .ag-row.ag-row-selected .ag-cell,
#jobsDialog .ag-row.ag-row-selected,
#jobsDialog .ag-row.ag-row-selected .actionsContainer {

  background-color: #455570;
}

body[dir=rtl] #jobsDialog .ag-pinned-right-cols-container .ag-row.ag-row-hover {
  margin-right: 250%;
}

#jobsDialog .ag-row.ag-full-width-row.ag-row-selected[row-id*="details"] {
  background: unset;
  overflow: visible;
}

.jobsBody .actionsContainer {
  right:0 !important;
  position:relative;

  overflow: visible !important;
  width: min-content !important;

  border-radius: 0 !important;

}

.jobsBody .actionsContainer .mdc-menu-surface--open {
 z-index:2 !important;
}


.jobsBody [aria-hidden="true"] {
  display: none;
}

.jobsBody [aria-hidden="false"] {
  display: unset;
}


