#gridActionsCellRenderer.actionsContainer {
  justify-content: flex-end;
  position: relative;
  display: flex;
  top: 0;
  right: -82px;
  width: 100px;
  /*background-color: rgb(44,65,89);*/
  border-radius: 50px;
  margin-top: 1px;
  /* 
  ColorRes = Color * alpha + Background * (1 - alpha); 
    Color = rgba(33, 150, 243, 0.1)
    Background = rgb(45, 55, 72)

    ColorRes.Red   =   33 * 0.1 + 45 * 0.9
    ColorRes.Green =  150 * 0.1 + 55 * 0.9
    ColorRes.Blue  =  243 * 0.1 + 72 * 0.9
  */
}

body[dir='rtl'] #gridActionsCellRenderer.actionsContainer {
  right: unset;
  left: -82px;
}

#gridActionsCellRenderer.actionsContainer .actionIcon {
  right: unset;
  left: unset;
}

body[dir='rtl'] #gridActionsCellRenderer.actionsContainer .actionIcon {
  left: unset;
  right: unset;
}

#gridActionsMenuContainer .mdc-menu-surface.mdc-menu-surface--open {
  top: 42px !important;
  left: -160px !important;
  width: 200px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* position: fixed; */
}

body[dir='rtl'] #gridActionsMenuContainer .mdc-menu-surface.mdc-menu-surface--open {
  right: -160px !important;
  left: unset;
}

#gridActionsMenuContainer {
}

body[dir='rtl'] #gridActionsMenuContainer {
  right: 20px;
}

#gridActionsCellRenderer .actionMenuItem {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#gridActionsCellRenderer .mdc-list-item {
  padding: 0 4px;
}

#gridActionsCellRenderer #allActionsIcon {
  position: relative;
  top: 6px;
}

#gridActionsCellRenderer .actionMenuItemTitle {
  font-size: 16px;
  padding-left: 8px;
}

body[dir='rtl'] #gridActionsCellRenderer .actionMenuItemTitle {
  padding-left: unset;
  padding-right: 8px;
}

#gridActionsCellRenderer .menuSeparator {
  border-bottom: 1px solid;
  width: 100%;
}