.expanderContainer {
  margin-top: 4px;
  margin-left: 8px;
}

.expanderIcon {
  color: var(--mdc-theme-primary);
}

/* AG-Grid bug bypass */
/* Details row expander is duplicated inside a span tag above the actual expander icon, which blocks the events targeted to it. */
#jobsDialog .ag-react-container > span:first-of-type {
  display: none;
  pointer-events: none;
}