

#systemCoreInfoBody .statusIndicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.internalService {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

body[dir='rtl'] #systemCoreInfoBody .internalService {
    flex-direction: row-reverse;
}

.internalService .serviceName {
    text-align: left;
    flex: 3;
    margin-left: 1.5rem;
    font-weight: bold;
}