#exportLayerHeader {
    position: relative;
    display: flex;
    background-color: var(--mdc-theme-text-primary-on-light);
    padding: 20px;
    margin-top: 12px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--update-layer-header-height);
  }
  
  #exportLayerHeaderContent {
    margin: 0 auto;
    width: 100%;
  }
  