# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#CONFD
confd/**
!confd/*.js
!confd/*.tmpl
!confd/*.toml
public/env-config.js
public/[cC]esium
public/fonts
public/cookbook
!public/assets/
public/assets/*
!public/assets/scripts/

public/mock

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/src/coverage

# production
/build

# misc
.DS_Store
!.env.example

debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
