# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#CONFD
confd/**
!confd/*.js
!confd/*.tmpl
!confd/*.toml
public/env-config.js
public/[cC]esium
public/ua-parser
public/fonts/*
!public/assets/scripts/
!public/assets/pages/
public/assets/img/*
!public/assets/img/app
!public/fonts/material-icons

public/mock
public/cookbook/*

# dependencies
/node_modules
/.pnp
.pnp.js
# Output of 'npm pack' or 'helm package helm'
*.tgz

# testing
/coverage
/src/coverage

# production
/build

# misc
.DS_Store
!.env.example

debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
