var MAP_SERVER = '{{ getv "/configuration/mapserver/url" "http://10.28.11.95:8080" }}';
window._env_ = {
  LANGUAGE: '{{ getv "/configuration/ui/language" "en" }}',
  MAP_SERVER: MAP_SERVER,
  PUBLISH_POINT: '{{ getv "/configuration/mapServer/publishPoint" "combined_layers" }}',
  CHANNEL: '{{ getv "/configuration/mapServer/channel" "Artzi_Planet_Optimaized" }}',
  VERSION: '{{ getv "/configuration/mapServer/version" "1" }}',
  REQUEST: '{{ getv "/configuration/mapServer/request" "ImageryMaps" }}',
  SERVICE_PROTOCOL: '{{ getv "/configuration/service/protocol" "http://" }}',
  SERVICE_NAME: '{{ getv "/configuration/service/url" "localhost:8080/graphql" }}',
  ACTIVE_LAYER: '{{ getv "/configuration/activeLayer" "OSM_LAYER" }}',
  ACTIVE_LAYER_PROPERTIES: {
    urlPattern: MAP_SERVER + '{{ getv "/configuration/active/layer/properties/mapurlpath" "/service" }}',
    urlPatternParams: {
      service: '{{ getv "/configuration/active/layer/properties/url/pattern/params/service" "WMS" }}',
      layers: '{{ getv "/configuration/active/layer/properties/url/pattern/params/layers" "combined_layers" }}',
      tiled: '{{ getv "/configuration/active/layer/properties/url/pattern/params/tiled" "true" }}',
      matrixSet: '{{ getv "/configuration/active/layer/properties/url/pattern/params/matrixset" "gridname" }}',
      style: '{{ getv "/configuration/active/layer/properties/url/pattern/params/style" "default" }}',
      projection: '{{ getv "/configuration/active/layer/properties/url/pattern/params/projection" "EPSG:4326" }}',
      format: '{{ getv "/configuration/active/layer/properties/url/pattern/params/format" "image/png" }}'
    }
  },
  MAP: {
    center: {{ getv "/configuration/map/center" "[34.811, 31.908]" }},
    zoom: {{ getv "/configuration/map/zoom" "14" }},
  },
  LOGGER: {
    level: '{{ getv "/configuration/logger/level" "warn" }}',
    log2console: {{ getv "/configuration/logger/log2console" "false" }},
    log2httpServer: {
      host: '{{ getv "/configuration/logger/http/host" "" }}',
      port: '{{ getv "/configuration/logger/http/port" "" }}',
      path: '{{ getv "/configuration/logger/http/path" "" }}'
    }
  },
  JOB_STATUS: {
    pollingCycleInterval: '{{ getv "/configuration/job/status/polling/cycle/interval" "60000" }}',
  },
  DEFAULT_USER: {
    role: '{{ getv "/configuration/default/user/role" "ADMIN" }}',
  }
};
