.detailsTitle {
  color: var(--mdc-theme-text-primary-on-dark);
  white-Space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: auto;
}

body[dir='rtl'] .detailsTitle {
  margin-right: unset;
  margin-left: auto;
}

.panelContent {
  height: calc(100% - 60px);
  overflow: auto;
}

.detailsContent {
  margin-right: 12px;
}

body[dir='rtl'] .detailsContent {
  margin-right: unset;
  margin-left: 12px;
}

.detailsPanelProductView {
  gap: 0.5em;
  font-size: 0.9em;
}

.detailsPanelProductView .detailsFieldLabel {
  width: calc(var(--field-label-max-length) - 2ch);
}

.detailsPanelProductView .detailsFieldValue {
  font-weight: bold;
}

.detailsPanelProductView .categoryField {
  padding: 0;
}

.detailsPanelProductView .categoryFieldsTitle{
  font-size: 1.2em;
}

.categoryFieldsParentContainer.detailsPanelProductView{
  margin-top: 4px;
}