.detailsTitle {
  color: var(--mdc-theme-text-primary-on-dark);
  white-Space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: auto;
}

body[dir='rtl'] .detailsTitle {
  margin-right: unset;
  margin-left: auto;
}

.detailsContent {
  height: calc(100% - 60px);
  overflow: auto;
}

.detailsPanelProductView {
  gap: 0.5em;
  font-size: 0.9em;
}

.detailsPanelProductView .detailsFieldLabel {
  flex: 0 0 7.5em;
}

.detailsPanelProductView .categoryField {
  padding: 0;
}