.headerViewsSwitcherContainer {
  display: flex;
  width: 180px;
  gap: 12px;
}

.tabViewIcon {
  width: 44px;
  height: 44px;
  font-size: 24px;
}

.dirty-best-indicator{
  background-color: var(--mdc-theme-gc-warning-high);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: relative;
  left: -36px;
  top: -12px;
}

body[dir='rtl'] .dirty-best-indicator {
  left: unset;
  right: -36px;
}
