.drawerOpenerPosition{
  height: 64px; 
  padding: 20px 4px;
  font-weight: 900;
  position: absolute;
  top: 100px;
  left: -20px;
}

body[dir='rtl'] .drawerOpenerPosition {
  right: -20px;
  left: unset;
}

.spacer {
  margin-left: calc(100% + 20px);
}

body[dir='rtl'] .spacer {
  margin-right: calc(100% + 20px);
  margin-left: unset;
}
