.drawerOpenerPosition {
  height: 64px;
  padding: 20px 4px;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 35%;
  left: calc(25% + 8px);
  z-index: 1;
}

body[dir='rtl'] .drawerOpenerPosition {
  right: calc(25% + 8px);
  left: unset;
}

.opened {
  margin-left: calc(25% + 24px);
}

body[dir='rtl'] .opened {
  margin-right: calc(25% + 24px);
  margin-left: unset;
}
