.listsContainer{
    width:80%;
}

.externalService {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    padding: 0 40px;
}

.externalService p {
    direction: ltr;
}

.externalService p {
    margin: 10px;
}

.externalService .urlText {
    overflow: hidden;
    max-width: 45ch;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.externalService .displayName {
    font-weight: bold;
}

.externalService .displayName::after {
    content: ': ';
}

.tabContent .flex-column-center .rmwc-collapsible-list--open .rmwc-collapsible-list__handle {
    background-color: var(--mdc-theme-gc-selection-background);
    font-weight: bold;
}

#systemCoreInfoBody .tabContent .flex-column-center .rmwc-collapsible-list .rmwc-collapsible-list__handle {
    border-bottom: 2px solid var(--mdc-theme-gc-selection-background);
}

body[dir='rtl'] #systemCoreInfoBody .tabContent .flex-column-center .rmwc-collapsible-list .rmwc-collapsible-list__handle {
    direction: ltr;
}

body[dir='rtl'] #systemCoreInfoBody .tabContent .flex-column-center .rmwc-collapsible-list .rmwc-collapsible-list__handle .mdc-list-item .mdc-list-item__meta {
    margin: unset !important;
    margin-left: auto !important;
}

body[dir='rtl'] #systemCoreInfoBody .externalService {
    flex-direction: row-reverse;
}

