.errorContainer {
  flex-grow: 1;
  display: flex;
  color: var(--mdc-theme-gc-error-high);
  align-items: flex-start;
}

.errorIcon {
  color: var(--mdc-theme-gc-error-high) !important;
  font-size: 32px;
}

.errorsList {
  list-style: circle;
  margin: 0;
  height: 60px;
  min-width: 264px;
  overflow-y: auto;
}

body[dir='rtl'] .errorsList {
  direction: rtl;
}

/* body[dir='rtl'] .errorContainer {
  flex-direction: row-reverse;
} */

.error {
  color: var(--mdc-theme-gc-error-high) !important;
}
