.soonIndicator {
  animation: soonIndicator 1s ease-in-out infinite alternate;
  font-weight: bold;
}

.dateCellRendererContainer {
    display: flex;
    align-items: center;
}

.dateCellRendererContainer.changeable {
    width: 100%;
}

.updateableDateCellRendererPicker .MuiInput-underline:before, 
.updateableDateCellRendererPicker .MuiInput-underline:hover {
  border-bottom: 0 !important;
}

.updateableDateCellRendererPicker .MuiInputBase-input {
    visibility: hidden !important;
}

@keyframes soonIndicator {
    from {
      text-shadow: 0 0 10px #fff, 0 0 12px #fff, 0 0 14px var(--mdc-theme-gc-warning-high), 0 0 15px var(--mdc-theme-gc-warning-high);
    }
    to {
      text-shadow: 0 0 12px #fff, 0 0 14px var(--mdc-theme-gc-warning-high), 0 0 16px var(--mdc-theme-gc-warning-high), 0 0 18px var(--mdc-theme-gc-warning-high);
    }
  }