.tasksTable{
  margin: 0 auto 20px auto;
  width: 100%;
  border: solid 1px #455570;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  line-height: 1.2em;
  padding: 8px;
}

.tableFixHead { 
  overflow-y: overlay; 
  height: 230px;
  width: 1300px;
  margin: 0 35px;
  padding: 0 12px;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--mdc-theme-alternative-surface, #fff);
}

.tasksTableColumnHeader{
  width: 20%;
  text-align: left;
  font-size: 13px;
}

body[dir=rtl] .tasksTableColumnHeader{
  text-align: right;
}

body[dir=rtl] .tasksTable{
  margin-left: unset;
  margin-right: 60px;
  padding-left: unset;
  padding-right: 8px;
}

.tasksTable .failed {
  display: flex;
  justify-content: space-between;
  width: 10ch;
  align-items: center;
}
