.priorityOptions.mdc-select:not(.mdc-select--disabled) .mdc-select__anchor {
  border-radius: 0;
}

.priorityOptions {
  width: 150px;
}

.priorityCellContainer {
  display: flex;
  align-items: center;
  width: 150px;
  position: relative;
  height: 40px;
}

/* When selectbox is open, we need to prioritize it higher then the ag-grid row, and other cells, 
   so that the options list will not be hidden.
*/
.priorityCellContainer
  .priorityOptions.mdc-select.mdc-select--outlined.mdc-select--no-label.mdc-select--focused.mdc-select--activated {
  z-index: 2;
}

/* Priority is binded to status field... */
.ag-cell-value[col-id="status"] {
  overflow: visible;
}

.priorityCellContainer .mdc-select--with-leading-icon .mdc-select__icon {
  top: 7px;
  left: 10px;
}

.priorityCellContainer .mdc-select--outlined .mdc-select__anchor {
  height: 40px;
}

.loadingContainer {
  position: absolute;
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.priorityCellContainer .priorityReadonlyPresentor {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-inline: 10px;
}

.priorityCellContainer .priorityReadonlyLabel {
  font-size: 16px;
}