.bestCatalogContainer {
  height: calc(100% - 20px);
  margin: 12px 12px 0 12px;
}

body[dir=rtl] .bestCatalogContainer .ReactVirtualized__Grid__innerScrollContainer{
  margin-right: -12px;
}

.bestCatalogContainer .rst__virtualScrollOverride {
  overflow-x: hidden !important;
}