.bestDetails {
  background-color: var(--mdc-theme-on-secondary);
  margin-top: 8px;
  padding: 4px 8px;
  border-radius: 8px;
  height: 140px;
}

.editBestIcon {
  padding: 8px 8px;
  position: absolute;
  top: 100px;
  left: 414px;
}

body[dir='rtl'] .editBestIcon {
  left: unset;
  right: 414px;
}

.actionButtons {
  display: flex;
  justify-content: flex-end;
  grid-gap: 20px;
  margin: 20px;
}

.bestCatalogImportContainer {
  height: 100%;
  width: 0;
  background-color: var(--mdc-theme-gc-alternative-surface);
  border-radius: 12px;
  position: relative;
  top: calc(-100% + 12px);
  left: calc(100% + 16px);
  z-index: 1;
  transition: 0.5s;
}

.bestCatalogImportContainer.openedImport {
  width: 100%;
  padding: 8px;
}

body[dir='rtl'] .bestCatalogImportContainer {
  left: unset;
  right: calc(100% + 24px);
}

.bestCatalogImportWrapper {
  height: 88%;
  width: 100%;
}

.bestCatalogClosed {
  visibility: hidden;
  transition-delay: 0s;
}

.bestCatalogOpened {
  visibility: visible;
  transition-delay: 0.4s;
}

.bestCatalogImportWrapper .buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin: 32px;
  position: absolute;
  bottom: 0;
  right: 0;
}

body[dir='rtl'] .bestCatalogImportWrapper .buttons {
  right: unset;
  left: 0;
}
