.actionButton {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.bestCatalogImportContainer .closeIcon {
  float: right;
}

body[dir='rtl'] .bestCatalogImportContainer .closeIcon {
  float: left;
}

.bestCatalogImportContainer {
  height: 100%;
  width: 100%;
  background-color: var(--mdc-theme-gc-alternative-surface);
  border-radius: 12px;
  padding: 8px;
  position: relative;
  top: calc(-100% + 12px);
  left: calc(100% + 16px);
  z-index: 1;
}

body[dir=rtl] .bestCatalogImportContainer {
  left: unset;
  right: calc(100% + 24px);
}

.bestCatalogImportContainer .buttons{
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin: 8px 28px;
}