/* Hide right header and spacer */
#bestDiscretes .ag-pinned-right-header,
#bestDiscretes .ag-horizontal-right-spacer {
  width: 0 !important;
  min-width: 0 !important;
}

/* Add absolute position so that action buttons column will appear on top of other columns. pointer-events: none to pass on mousemove event to behind columns */
#bestDiscretes .ag-pinned-right-cols-container {
  position: absolute !important;
  right: 20px;
  pointer-events: none;
  /* width: 164px;
  min-width: 164px;
  max-width: 164px; */
}

body[dir=rtl] #bestDiscretes .ag-pinned-right-cols-container {
  position: absolute !important;
  left: 10px;
  right: unset;
  pointer-events: none;
  /* width: 164px;
  min-width: 164px;
  max-width: 164px; */
}


/* Reset pointer-events so that click can happen on action buttons */
#bestDiscretes .ag-pinned-right-cols-container * {
  pointer-events: initial;
}

/* Hide border of right-cols-container */
#bestDiscretes .ag-pinned-right-cols-container .ag-cell {
  border: none !important;
}

/* Show action buttons only for row that is being hovered. For rows which are not being hovered, hide them by setting their width and padding to 0.*/
#bestDiscretes .ag-pinned-right-cols-container .ag-row:not(.ag-row-hover),
#bestDiscretes .ag-pinned-right-cols-container .ag-row:not(.ag-row-hover) .ag-cell {
  width: 0 !important;
  padding: 0 !important;
}

#bestDiscretes .ag-pinned-right-cols-container .ag-row.ag-row-hover {
  background-color: rgb(44,65,89);
  border-width: 0px !important;
}

#bestDiscretes .ag-pinned-right-cols-container .ag-row.ag-row-selected.ag-row-hover {
  background-color: var(--ag-selected-row-background-color, rgba(33, 150, 243, 0.3));
}

#bestDiscretes .ag-pinned-right-cols-container div[role=row] {
  height: 268px !important;
}

#bestDiscretes .ag-pinned-right-cols-container .ag-row.ag-row-selected.ag-row-hover {
  background-color: unset;
}

#bestDiscretes .ag-pinned-right-cols-container .ag-row.ag-row-hover {
  border-radius: unset;
  background-color: unset;
}
