.ag-theme-alpine-dark .ag-header-cell[col-id="footprintShown"]{
  padding-left: 0px;
  padding-right: 18px;
}

body[dir='rtl'] .ag-theme-alpine-dark .ag-header-cell[col-id="footprintShown"]{
  padding-right: 0px;
  padding-left: 18px;
}