.compatibilityError {
    display: flex;
    position: absolute;
    top: 20px;
    left: 50%;
    align-items: center;
    justify-content: center;
    width: 70%;
    min-height: 3rem;
    background: var(--mdc-theme-gc-error-medium);
    z-index: 0;
    transform: translateX(-50%);
    white-space: pre-line;
    text-align: center;
    user-select: none;
  }