#closeWithoutSaveDialog .closeIcon{
  margin-left: auto;
}

#closeWithoutSaveDialog .dialogBody {
  height: 100px;
  width: 360px;
  display: flex;
  align-items: center;
}

body[dir='rtl'] #closeWithoutSaveDialog .closeIcon{
  margin-left: unset;
  margin-right: auto;
}