#continueDialog .closeIcon {
  margin-left: auto;
}

body[dir='rtl'] #continueDialog .closeIcon {
  margin-left: unset;
  margin-right: auto;
}

#continueDialog .dialogBody {
  height: 100px;
  width: 360px;
  display: flex;
  align-items: center;
}
