#filePickerDialog .dialogBody {
  display: flex;
  align-items: center;
  height: 400px;
}

#filePickerDialog .closeIcon {
  margin-left: auto;
}

body[dir='rtl'] #filePickerDialog .closeIcon {
  margin-left: unset;
  margin-right: auto;
}

#filePickerDialog .MuiPopover-root {
  left: -100% !important;
}

body[dir='rtl'] #filePickerDialog .MuiPopover-root {
  left: -120% !important;
}
