.actionsContainer {
  position: relative;
  display: flex;
  right: 172px;
  width: 124px; /*36+36+36+16*/
  justify-content: flex-end;
  padding-left: 16px;
  background-color: rgb(44,65,89);
  /* 
  ColorRes = Color * alpha + Background * (1 - alpha); 
    Color = rgba(33, 150, 243, 0.1)
    Background = rgb(45, 55, 72)

    ColorRes.Red   =   33 * 0.1 + 45 * 0.9
    ColorRes.Green =  150 * 0.1 + 55 * 0.9
    ColorRes.Blue  =  243 * 0.1 + 72 * 0.9
  */
}

body[dir='rtl'] .actionsContainer {
  right: unset;
  left: 172px;
}

.actionsContainer .actionIcon {
  right: unset;
  left: unset;
}

body[dir='rtl'] .actionsContainer .actionIcon{
  left: unset;
  right: unset;
}

#actionsMenuContainer .mdc-menu-surface.mdc-menu-surface--open {
  top: 30px !important;
  left: -88px !important;
  width: 124px; /* 36+36+36+16*/
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

body[dir='rtl'] #actionsMenuContainer .mdc-menu-surface.mdc-menu-surface--open {
  right: -88px !important;
  left: unset;
}

#actionsMenuContainer {
}

.actionMenuItem {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.actionMenuItemTitle {
  font-size: 16px;
  padding-left: 8px;
}

body[dir='rtl'] .actionMenuItemTitle {
 padding-left: unset;
 padding-right: 8px;
}