.footprintIcon {
  position: relative !important;
  top: -8px;
  margin-right: 16px;
}

body[dir='rtl'] .footprintIcon {
  margin-right: unset;
  margin-left: 16px;
}

.toolbarButton .mdc-checkbox {
  position: unset;
}

.toolbarButton .mdc-checkbox__ripple {
  display: none;
}

body[dir='rtl'] .toolbarButton .mdc-checkbox .mdc-checkbox__background {
  left: unset; 
}
