#bboxDialog .closeIcon {
  margin-left: auto;
}

body[dir='rtl'] #bboxDialog .closeIcon {
  margin-left: unset;
  margin-right: auto;
}

#bboxDialog .bboxForm {
  padding-top: 16px;
  font-size: 0.875rem;
}

#bboxDialog .bboxRow {
  display: flex;
  margin-bottom: 16px;
}

body[dir='rtl'] #bboxDialog .bboxRow {
  flex-direction: row-reverse;
}

#bboxDialog .bboxField {
  margin: 0 8px;
}

#bboxDialog .footer {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  height: 60px;
}

#bboxDialog .buttons {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: auto;
}

body[dir='rtl'] #bboxDialog .buttons {
  margin-left: unset;
  margin-right: auto;
}

#bboxDialog .messages {
  display: flex;
  flex-direction: column;
}