.imageryContextMenu {
  background: var(--mdc-theme-surface);
  position: absolute;
  border-radius: 4px;
  padding: 12px;
}

.imageryContextMenuTitle {
  color: var(--mdc-theme-primary);
  font-weight: bold;
}

.imageryContextMenuTitleInfo {
  vertical-align: sub;
  color: var(--mdc-theme-primary);
  cursor: help;
}

.imageryMenuContainer {
  height: 144px;
}

.imageryMenu {
  width: 100%;
}

.imageryMenuIcon {
  vertical-align: sub;
  margin-right: 8px;
}

body[dir='rtl'] .imageryMenuIcon {
  margin-right: unset;
  margin-left: 8px;
}

.imageryContextMenuSubTitle {
  font-weight: bold;
}

.imageryContextMenuSubTitleIcon {
  vertical-align: middle;
  color: var(--mdc-theme-primary);
  cursor: pointer;
}

.imageryContextMenuTableContainer {
  max-height: 100px;
  overflow: auto;
}

.imageryContextMenuTable {
  height: 100%;
}

.imageryContextMenuTableOrder {
  width: 30px;
  text-align: center;
}

.imageryContextMenuTableField {
  max-width: 190px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  direction: ltr;
}

.imageryContextMenuTableSelectedRow {
  color: var(--mdc-theme-primary);
  font-weight: bold;
}

.imageryContextMenuEmpty {
  background: var(--mdc-theme-surface);
  position: absolute;
  border-radius: 4px;
}