#bboxDialog .closeIcon {
  margin-left: auto;
}

body[dir='rtl'] #bboxDialog .closeIcon {
  margin-left: unset;
  margin-right: auto;
}

#bboxDialog .dialogBboxForm {
  padding-top: 16px;
  font-size: 0.875rem;
}

#bboxDialog .dialogBboxRow {
  display: flex;
  margin-bottom: 16px;
}

#bboxDialog .dialogBboxField {
  margin: 0 8px;
}

#bboxDialog .noMargin {
  margin: 0 !important;
}

#bboxDialog .buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin: 20px;
}