.map {
  /* left: 20%;
  width: 80%;
  position: absolute; */
}

.filtersPosition {
  position: absolute;
  z-index: 1000;
  left: 24px;
  top: 12px;
}

body[dir='rtl'] .filtersPosition {
  left: unset;
  right: 24px;
}

.filtersContainer {
  display: flex;
  padding: 8px;
}

.filtersMargin {
  margin-left: 8px;
  display: flex;
  gap: 8px;
}

.drawerPosition{
  overflow: hidden; 
  position: absolute;
  top: 60px;
  left: 0px;
}

.drawerPosition .mdc-drawer{
  width: 100%;
} 
body[dir='rtl'] .drawerPosition {
  right: 0px;
  left: unset;
}
