.map {
  height: 100%;
  width: 100%;
  position: fixed;
}

.filtersPosition {
  position: absolute;
  z-index: 1000;
  left: 12px;
  top: 12px;
}

body[dir="rtl"] .filtersPosition {
  position: absolute;
  z-index: 1000;
  left: unset;
  right: 12px;
  top: 12px;
}

.filtersContainer {
  display: flex;
  padding: 8px;
}

.filtersMargin {
  margin-left: 8px;
  display: flex;
  gap: 8px;
}
