.drawerContainer{
  position: absolute;
  left: -8px;
  top: 50px;
}

body[dir='rtl'] .drawerContainer {
  left: unset;
  right: -8px;
}

.searcIconBtn{}

body[dir='rtl'] .searcIconBtn{
  transform: rotate(90deg);
}
/* Override ICONBUTTON styling */
#searchContainer button.rmwc-icon.rmwc-icon--ligature {
  padding: 8px 8px;
}
/* Override TEXTFIELD styling */
#searchContainer #searchTerm .mdc-text-field--fullwidth{
  background-color: transparent !important;
}

#searchContainer #searchTerm .mdc-text-field {
  height: 32px;
}

#searchContainer #searchTerm .mdc-line-ripple::before{
  border-bottom-color: var(--mdc-theme-text-icon-on-dark);
}

#searchContainer #searchTerm .mdc-line-ripple::after{
  border-bottom-color: var(--mdc-theme-text-icon-on-dark);
}

#searchContainer #searchTerm .mdc-text-field__input{
  color: var(--mdc-theme-on-surface);
  caret-color: var(--mdc-theme-on-surface);
}
