.drawerContainer {
  position: absolute;
  left: -8px;
  top: 50px;
}

body[dir='rtl'] .drawerContainer {
  left: unset;
  right: -8px;
}

body[dir='rtl'] .searchIconBtn {
  transform: rotate(90deg);
}
#searchContainer {
  position: relative;
}

/* Override ICONBUTTON styling */
#searchContainer button.rmwc-icon.rmwc-icon--ligature {
  padding: 8px 8px;
}

#searchContainer .active {
  color: var(--mdc-theme-gc-success);
}
