.toolbarButton .mdc-checkbox {
  position: unset;
}

.toolbarButton .mdc-checkbox__ripple{
  display: none;
}

body[dir='rtl'] .toolbarButton .mdc-checkbox .mdc-checkbox__background{
 left: unset; 
}
