.enumOptions .mdc-select__anchor {
  border: 1px solid var(--mdc-theme-gc-selection-background);
  border-radius: 4px !important;
}

.enumOptions li {
  gap: 8px;
}

.detailsFieldValue.selectBoxContainer {
  overflow: unset;
}

.enumOptions .mdc-select__dropdown-icon {
  bottom: 2px;
  right: 16px;
}

body[dir='rtl'] .enumOptions .mdc-select__dropdown-icon {
  right: unset;
  left: 16px;
}

.enumOptions .mdc-menu.mdc-select__menu.mdc-menu-surface.mdc-menu-surface--open {
  max-height: 250px !important;
}

.enumOptions .mdc-select__anchor {
  height: 25px;
}

.enumOptions .mdc-select__anchor .mdc-select__selected-text {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 20px;
}
