.detailsLinksFieldValue{
  width: 0px;
  flex: 100% 1;
}
.linksFieldsContainer{
  padding-top: 16px;
}
.linkFieldsSeparator{
  border-bottom: 1px dashed;
  margin-right: 12px;
}
body[dir='rtl'] .linkFieldsSeparator{
  margin-right: unset;
  margin-left: 12px;
}
