/* TABS CUSTOMIZATION */

.dark-theme .mdc-tab-indicator__content--underline {
  border-top-style: unset;
}

.dark-theme .mdc-tab-bar .mdc-tab-indicator--active {
  border: 2px solid var(--mdc-theme-gc-selection-background);
  border-bottom: none;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  background-color: var(--mdc-theme-gc-selection-background);
}

.dark-theme .mdc-tab-scroller__scroll-content .mdc-tab {
  border-bottom: 2px solid var(--mdc-theme-gc-selection-background);
}

.dark-theme mdc-tab-scroller__scroll-content .mdc-tab.mdc-tab--active {
  border-bottom: none;
}

.dark-theme .mdc-tab__ripple.mdc-ripple-upgraded--background-focused::before,
.dark-theme .mdc-tab__ripple:not(.mdc-ripple-upgraded):focus::before {
  opacity: 0;
}

/* ICONSBUTTONS CUSTOMIZATION */

.dark-theme button.rmwc-icon.rmwc-icon--ligature,
.dark-theme .mdc-drawer .rmwc-icon.rmwc-icon--ligature {
  color: var(--mdc-theme-text-icon-on-dark);
  background-color: unset;
  border-width: 0px;
  border-style: outset;
  /* border-image: initial; */
  cursor: pointer;
}

.dark-theme button.rmwc-icon.rmwc-icon--ligature:focus,
.dark-theme .mdc-drawer .rmwc-icon.rmwc-icon--ligature:focus {
  outline: unset;
}

.dark-theme button.rmwc-icon.rmwc-icon--ligature:hover,
.dark-theme .mdc-drawer .rmwc-icon.rmwc-icon--ligature:hover {
  color: var(--mdc-theme-text-primary-on-background);
}

.dark-theme button[disabled].rmwc-icon.rmwc-icon--ligature {
  opacity: 0.3;
  cursor: default;
}

/* FABS CUSTOMIZATION */

.dark-theme .mdc-theme--on-surface .mdc-fab__icon {
  color: var(--mdc-theme-text-icon-on-dark);
}

.dark-theme .mdc-theme--on-surface.mdc-fab {
  color: var(--mdc-theme-text-icon-on-dark) !important;
}

/* SELECT CUSTOMIZATION */

.dark-theme .mdc-menu .mdc-list {
  /* color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87)); */
  color: var(--mdc-theme-text-primary-on-dark)
}

.dark-theme .mdc-menu .mdc-list .mdc-list-item {
  height: var(--mdc-theme-gc-menu-item-height);
  border-radius: 100px;
  margin: 0px 4px;
}

.dark-theme .mdc-select:not(.mdc-select--disabled) .mdc-select__anchor {
  border-radius: 20px;
  background-color: var(--mdc-theme-alternative-surface);
}

.dark-theme .mdc-select:not(.mdc-select--disabled) .mdc-select__selected-text {
  color: var(--mdc-theme-on-surface);
}

.dark-theme .mdc-select__anchor .mdc-line-ripple::before {
  border-bottom-width: 0px;
}

.dark-theme .mdc-select__anchor .mdc-line-ripple::after {
  border-bottom-width: 0px;
}

.dark-theme .mdc-menu.mdc-select__menu.mdc-menu-surface.mdc-menu-surface--open {
  border-radius: 20px;
}

.dark-theme .mdc-select.mdc-select--disabled .mdc-select__selected-text {
  color: unset; 
}

.dark-theme .mdc-select.mdc-select--outlined.mdc-select--no-label.mdc-select--disabled {
  background-color: var(--mdc-theme-text-disabled-on-light);
  opacity: 0.2;
}

/* AG-GRID CUSTOMIZATION */

.dark-theme .ag-theme-alpine-dark {
  color: var(--ag-foreground-color, #fff);
}

.dark-theme .ag-theme-alpine-dark .ag-header {
  border-bottom: unset;
}

.dark-theme .ag-theme-alpine-dark .ag-row-selected {
  border-radius: 100px;
  color: var(--mdc-theme-text-primary-on-dark, #fff);
}

.dark-theme .ag-theme-alpine-dark .ag-row-hover {
  border-radius: 100px;
}

.dark-theme .ag-theme-alpine-dark .ag-row-hover.ag-full-width-row {
  border-radius: unset;
  background-color: unset;
}

.dark-theme
  .ag-theme-alpine-dark
  .ag-root-wrapper-body
  .ag-checkbox-input-wrapper {
  background: none;
}

/* INPUT CUSTOMIZATION */

.dark-theme .mdc-text-field {
  background-color: transparent;
  border: 1px solid var(--mdc-theme-gc-selection-background, #fff);
  border-radius: 0;
  height: 24px;
  width: 100%;
}

.dark-theme label.mdc-text-field.mdc-text-field--disabled {
  opacity: 0.3;
}

.dark-theme .mdc-form-field > label {
  color: var(--mdc-theme-text-primary-on-dark);
}

.dark-theme .mdc-text-field__input {
  color: var(--mdc-theme-text-primary-on-dark, #fff) !important;
}

.dark-theme .mdc-text-field__input::placeholder {
  color: var(--mdc-theme-text-hint-on-dark, #fff) !important;
  opacity: 0.5;
}

/* TEXTAREA CUSTOMIZATION */

.dark-theme .mdc-text-field.mdc-text-field--textarea {
  background-color: transparent;
  border: 1px solid var(--mdc-theme-gc-selection-background, #fff);
  border-radius: 0;
  height: 100px;
}

.dark-theme .mdc-text-field.mdc-text-field--textarea .mdc-text-field__input {
  color: var(--mdc-theme-text-primary-on-dark, #fff) !important;
  line-height: 1em;
  resize: none;
}

.dark-theme
  .mdc-text-field.mdc-text-field--textarea
  .mdc-text-field__input::placeholder {
  color: var(--mdc-theme-text-hint-on-dark, #fff) !important;
  opacity: 0.5;
}

/* DATE-TIME-PICKER CUSTOMIZATION */

.dark-theme .datePresentor .MuiInputBase-input {
  padding: 2px 0px 2px 16px;
}

body[dir='rtl'] .dark-theme .datePresentor .MuiInputBase-input {
  padding-left: unset;
  padding-right: 16px;
}

.dark-theme .datePresentor .MuiIconButton-root:hover {
  background-color: unset;
}

.dark-theme .datePresentor .MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: 0px;
}

.dark-theme .datePresentor .MuiInputBase-formControl.MuiInput-formControl {
  border: 1px solid var(--mdc-theme-gc-selection-background, #fff);
}

.dark-theme .datePresentor .MuiInput-underline:before {
  border-bottom: 0px;
}

.dark-theme .datePresentor .MuiInputAdornment-root {
  margin: 0 8px;
}

.dark-theme .categoryFullWidthField .MuiFormControl-root {
  width: 100%;
}

.dark-theme .datePresentor button.MuiButtonBase-root.MuiIconButton-root {
  padding-left: 0px;
}

body[dir='rtl']
  .dark-theme
  .datePresentor
  button.MuiButtonBase-root.MuiIconButton-root {
  padding-left: 16px;
  padding-right: 0px;
}

.dark-theme .datePresentor svg.MuiSvgIcon-root {
  font-size: 20px;
}

.dark-theme
  .datePresentor
  p.MuiFormHelperText-root.Mui-error.MuiFormHelperText-filled {
  display: none;
}

/* DIALOG CUSTOMIZATION */

.dark-theme .mdc-dialog .mdc-dialog__surface {
  background-color: var(--mdc-theme-alternative-surface, #fff);
  border-radius: 8px;
}

.dark-theme .mdc-dialog .mdc-dialog__title {
  background: linear-gradient(
      90deg,
      var(--mdc-theme-gc-selection-background, #fff) 16.15%,
      rgba(69, 85, 112, 0.3) 100%
    ),
    var(--mdc-theme-alternative-surface, #fff);
  padding-bottom: 0;
  line-height: initial;
  display: flex;
  align-items: center;
  color: var(--mdc-theme-text-icon-on-dark);
  font-size: 16px;
  font-weight: 600;
  height: var(--dialog-title-height);
}

/* SCROLLBAR CUSTOMIZATION */

body[dir='rtl'] .dark-theme .rst__virtualScrollOverride {
  direction: rtl !important;
}

.dark-theme ::-webkit-scrollbar {
  width: 6px;
}

.dark-theme ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  border-radius: 6px;
}

.dark-theme ::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 6px;
}

.dark-theme .mdc-drawer {
  background-color: var(--mdc-theme-alternative-surface, #fff);
}

.dark-theme .mdc-drawer * {
  color: var(--mdc-theme-text-icon-on-dark);
}

/* SWITCH CUSTOMIZATION */

.dark-theme .mdc-switch {
  margin-inline: 10px;
}

.dark-theme .mdc-switch.mdc-switch--checked .mdc-switch__track {
  background-color: var(--mdc-theme-gc-selection-background);
  filter: brightness(2);
}

.dark-theme .mdc-switch.mdc-switch--checked .mdc-switch__thumb,
.dark-theme .mdc-switch:not(.mdc-switch--checked) .mdc-switch__thumb {
  background-color: var(--mdc-theme-text-icon-on-dark);
  border: none;
}

.dark-theme .mdc-switch:not(.mdc-switch--checked) .mdc-switch__track {
  background-color: var(--mdc-theme-gc-selection-background);
}

/* BUTTON CUSTOMIZATION */

.dark-theme .mdc-button:disabled {
  background-color: var(--mdc-theme-gc-button-disabled-background);
  color: var(--mdc-theme-text-disabled-on-background);
  opacity: 0.3;
}
