.drawerPosition{
  overflow: hidden; 
  position: absolute;
  top: 60px;
  left: 0px;
}

.drawerPosition .mdc-drawer{
  width: 100%;
} 
body[dir='rtl'] .drawerPosition {
  right: 0px;
  left: unset;
}
