.externalService {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.externalService p {
    line-height: 0.5rem;
}

.externalService .urlText {
}

.externalService .displayName {
    font-weight: bold;
}

.externalService .displayName::after {
    content: ': ';
}
