.catalogFilterPanelContainer {
    --filter-panel-open-height: 400px;
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    height: 0px;
    display: none;
    background-color: var(--mdc-theme-background);
    border-radius: 0 0 20px 20px;
    z-index: 0;
}

.catalogFilterPanelContainer.open {
    display: block;
    animation: slideToBottom 500ms forwards;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
}
.catalogFilterFieldError {
    color: var(--mdc-theme-gc-error-medium);
}

.catalogFilterPanelContainer.open .catalogFilterFieldContainer {
    height: 4rem;
}

.catalogFiltersForm {
    width: 80%;
    align-self: center;
}

.catalogFilterFormContainer {
    display: flex;
    padding: 20px;
    overflow-y: auto;
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.catalogFilterFormContainer .catalogFilterFieldContainer, 
.catalogFilterFieldContainer .catalogFilterDateRangeWrapper {
    width: 100%;
}


@keyframes slideToBottom {
    from {
        height: 0px;
    }

    to {
        height: var(--filter-panel-open-height);
    }
}